@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap');

* {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1vw;
	font-weight: 400;
	line-height: 1.3;
	font-style: normal;
	background-color: rgb(200, 193, 193);
	overflow-x: hidden;
	scroll-behavior: smooth;
}

/* Wrapper */
.wrapper {
	max-width: 88vw;
	height: 100%;
	min-height: 100vh;
	margin: 5% auto;
	overflow-x: hidden;
	-webkit-box-shadow: 0 0 3.3vw 0.1vw #000000;
	box-shadow: 0 0 3.3vw 0.1vw #000000;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

/* Menu */
.menu {
	height: calc(60vw / 13.36);
	background-color: rgb(0, 0, 0);
}

.menu__list {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	list-style: none;
}

.menu__list-item {
	padding: 0.37vw 0;
	position: relative;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.menu__list-item a:after {
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #FCBB08;
	display: block;
	content: "";
	height: calc(3vw / 13.36);
	width: 0;
	-webkit-transition: width .3s ease-in;
	-o-transition: width .3s ease-in;
	transition: width .3s ease-in;
}

.menu__list-item a:hover:after {
	width: 100%;
}

.menu__link {
	font-weight: 700;
	font-size: calc(16vw / 13.36);
	line-height: 1;
	letter-spacing: calc(0.6vw / 13.36);
	text-decoration: none;
	color: #ffffff;
}

/* Header */
.header {
	width: 100%;
	padding: 5% 2%;
	background-color: #000000;
}

.container {
	max-width: 100%;
	margin: 0 auto;
}

.header__inner {
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.header__photo-inner {
	width: 100%;
	height: 100%;
	text-align: center;
}

.photo {
	width: 21vw;
	height: auto;
	-webkit-box-shadow: 0 0 15px 3px #fc8e08;
	box-shadow: 0 0 1.3vw 0.5vw #fc8e08;
	border-radius: 50%;
}

.header__content-inner {
	padding-left: 2vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.header__title-inner {
	text-align: center;
}

.header__content-title {
	margin-bottom: 1vw;
	font-weight: bold;
	line-height: 1.4;
	font-size: 4.7vw;
	color: #fff;
}

.header__content-description {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	line-height: 1.2;
	font-size: 2vw;
	color: #fc8e08;
}

/* Main */
.main__content {
	display: grid;
	grid-template-columns: 1fr 2fr;
}

/* Aside-left */
.aside-left {
	padding: 1vw 2vw 3vw 2vw;
	background-color: rgb(169, 120, 128);
}

.wrp-section {
	padding-top: 2vw;
	padding-bottom: 2vw;
	border-bottom: 0.2vw solid #ccc;
}

/* Contact */
.contact__title {
	margin-bottom: 1.6vw;
	font-weight: bold;
	line-height: 1.4;
	font-size: 2vw;
	text-align: center;
	color: #fff;
}

.contact__list {
	list-style: none;
}

.contact__list-item {
	margin-bottom: 1vw;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	color: rgb(43, 41, 41);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.contact__list-item:last-child {
	margin-bottom: 0;
}

.contact__list-item span {
	padding-right: 1.4vw;
	font-weight: 700;
	line-height: 1;
	font-size: 2vw;
	color: #58aeb3;
}

.contact__list-item a {
	color: #FCBB08;
	-webkit-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease;
}

.contact__list-item a:hover {
	text-decoration: none;
	color: #fcbb08bd;
}

/* Skills */
.skills__title {
	margin-bottom: 1.6vw;
	font-weight: bold;
	line-height: 1.4;
	font-size: 2vw;
	text-align: center;
	color: #fff;
}

.skills__list-item {
	margin-bottom: 1vw;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	color: rgb(43, 41, 41);
	list-style-type: none;
}

.skills__list-item:before {
	font-size: 1.2vw;
	font-weight: 700;
	color: #fff;
	content: "•";
	padding-right: 0.5vw;
}

.skills__list-item:last-child {
	margin-bottom: 0;
}

.skills__list-item span {
	padding-right: 0.5vw;
	font-weight: 700;
	line-height: 1;
	font-size: 1.3vw;
	color: #58aeb3;
}

/* Works */
.works__title {
	margin-bottom: 1.6vw;
	font-weight: bold;
	line-height: 1.4;
	font-size: 2vw;
	text-align: center;
	color: #fff;
}

.works__list-item {
	margin-bottom: 1vw;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	color: rgb(43, 41, 41);
	list-style-type: none;
}

.works__list-item:before {
	font-size: 1.2vw;
	font-weight: 700;
	color: #fff;
	content: "•";
	padding-right: 0.5vw;
}

.works__list-item:last-child {
	margin-bottom: 0;
}

.works__list-item span {
	padding-right: 1.4vw;
	font-weight: 700;
	line-height: 1;
	font-size: 1.3vw;
	color: #58aeb3;
}

.works__list-item a {
	color: #FCBB08;
	-webkit-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease;
}

.works__list-item a:hover {
	text-decoration: none;
	color: #fcbb08bd;
}

/* Certificates */
.certificates {
	padding-bottom: 0;
	border-bottom: none;
}

.certificates__title {
	margin-bottom: 1.6vw;
	font-weight: bold;
	line-height: 1.4;
	font-size: 2vw;
	text-align: center;
	color: #fff;
}

.certificates__list-item {
	margin-bottom: 1vw;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	color: rgb(43, 41, 41);
	list-style-type: none;
}

.certificates__list-item:before {
	font-size: 1.2vw;
	font-weight: 700;
	color: #fff;
	content: "•";
	padding-right: 0.5vw;
}

.certificates__list-item:last-child {
	margin-bottom: 0;
}

.certificates__list-item a {
	color: #FCBB08;
	-webkit-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease;
}

.certificates__list-item a:hover {
	text-decoration: none;
	color: #fcbb08bd;
}

/* Aside-right */
.aside-right {
	padding: 5% 7% 5% 0;
	background-color: rgb(169, 120, 128);
}

.wrp__aside-right {
	padding-left: 7%;
	width: 100%;
	height: 100%;
	border-left: 0.2vw solid #ccc;
}

/* About me */
.about {
	padding-top: 0;
}

.about__title {
	margin-bottom: 1.6vw;
	font-weight: bold;
	line-height: 1.4;
	font-size: 2vw;
	color: #fff;
}

.about__description {
	margin-bottom: 1vw;
	font-family: 'Poppins', sans-serif;
	font-size: 1.3vw;
	font-weight: 400;
	line-height: 1.6;
	word-spacing: 0.4vw;
	color: rgb(43, 41, 41);
}

.about__description span {
	font-size: 1.2vw;
	font-style: italic;
}

.about__description a {
	color: #FCBB08;
	-webkit-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease;
}

.about__description a:hover {
	text-decoration: none;
	color: #fcbb08bd;
}

/* Education */
.education__title {
	margin-bottom: 1.6vw;
	font-weight: bold;
	line-height: 1.4;
	font-size: 2vw;
	color: #fff;
}

.education__list {
	padding-left: 2.5vw;
}

.education__list-item {
	margin-bottom: 1vw;
	font-family: 'Poppins', sans-serif;
	font-size: 1.2vw;
	font-weight: 400;
	line-height: 1.5;
	word-spacing: 0.2vw;
	color: rgb(43, 41, 41);
	list-style-type: none;
}

.education__list-item:before {
	font-size: 1.2vw;
	font-weight: 700;
	color: #fff;
	content: "•";
	padding-right: 0.5vw;
}

.education__list-item:last-child {
	margin-bottom: 0;
}

.education__list-item span {
	padding-right: 0.5vw;
	font-weight: 700;
	line-height: 1;
	font-size: 1.3vw;
	color: #58aeb3;
}

.education__list-item a {
	color: #FCBB08;
	-webkit-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease;
}

.education__list-item a:hover {
	text-decoration: none;
	color: #fcbb08bd;
}

.courses__title {
	padding-left: 1vw;
	margin-top: 1.8vw;
	margin-bottom: 1vw;
	font-weight: bold;
	line-height: 1.4;
	font-size: 1.6vw;
	color: #fff;
}

/* Code example */
.code__title {
	margin-bottom: 1.6vw;
	font-weight: bold;
	line-height: 1.4;
	font-size: 2vw;
	color: #fff;
}

.code__wrp {
	margin: 0 auto;
	padding-left: 2vw;
	max-width: 30vw;
	background-color: #ccc;
}

/* Languages */
.languages {
	padding-bottom: 0;
	border-bottom: none;
}

.languages__title {
	margin-bottom: 1.6vw;
	font-weight: bold;
	line-height: 1.4;
	font-size: 2vw;
	color: #fff;
}

.languages__list {
	padding-left: 2.5vw;
}

.languages__list-item {
	margin-bottom: 1vw;
	font-family: 'Poppins', sans-serif;
	font-size: 1.2vw;
	font-weight: 400;
	line-height: 1.5;
	word-spacing: 0.2vw;
	color: rgb(43, 41, 41);
	list-style-type: none;
}

.languages__list-item:before {
	font-size: 1.2vw;
	font-weight: 700;
	color: #fff;
	content: "•";
	padding-right: 0.5vw;
}

.languages__list-item:last-child {
	margin-bottom: 0;
}

.languages__list-item span {
	padding-right: 0.5vw;
	font-weight: 700;
	line-height: 1;
	font-size: 1.3vw;
	color: #58aeb3;
}

/* Footer */
.footer {
	padding: 4vw 3vw;
	background-color: rgb(0, 0, 0);
}

.footer__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	list-style: none;
}

.footer__list-item {
	font-family: 'Poppins', sans-serif;
	font-size: 2vw;
	font-weight: 700;
	color: rgb(255, 255, 255);
}

.footer__list-item img {
	width: 10vw;
	height: auto;
	-webkit-transition: -webkit-transform .5s ease;
	transition: -webkit-transform .5s ease;
	-o-transition: transform .5s ease;
	transition: transform .5s ease;
	transition: transform .5s ease, -webkit-transform .5s ease;
}

.footer__list-item img:hover {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.15);
}

.footer__list-item span {
	font-size: 5vw;
	font-weight: 700;
	line-height: 1;
	color: #58aeb3;
	-webkit-transition: color .5s ease;
	-o-transition: color .5s ease;
	transition: color .5s ease;
}

.footer__list-item span:hover {
	color: orange;
}

.footer__list-item a {
	text-decoration: none;
}